[submodule "docs/packages/carbon-core"]
	path = docs/packages/carbon-core
	url = https://github.com/carbon-io/carbon-core.git
[submodule "docs/packages/carbond"]
	path = docs/packages/carbond
	url = https://github.com/carbon-io/carbond.git
