[submodule "docs/packages/carbon-core"]
	path = docs/packages/carbon-core
	url = git@github.com:carbon-io/carbon-core.git
[submodule "docs/packages/carbond"]
	path = docs/packages/carbond
	url = git@github.com:carbon-io/carbond.git
[submodule "docs/common"]
	path = docs/common
	url = git@github.com:carbon-io/docs-common.git
