
/* Font Family Declarations */

@import url("//hello.myfonts.net/count/310ef1");

@font-face {
    font-family: 'Rational';
    src: url('webfonts/310EF1_0_0.eot');
    src: url('webfonts/310EF1_0_0.eot?#iefix') format('embedded-opentype'),
         url('webfonts/310EF1_0_0.woff2') format('woff2'),
         url('webfonts/310EF1_0_0.woff') format('woff'),
         url('webfonts/310EF1_0_0.ttf') format('truetype');
    weight: lighter;
}

@font-face {
    font-family: 'Rational';
    src: url('webfonts/310EF1_1_0.eot');
    src: url('webfonts/310EF1_1_0.eot?#iefix') format('embedded-opentype'),
         url('webfonts/310EF1_1_0.woff2') format('woff2'),
         url('webfonts/310EF1_1_0.woff') format('woff'),
         url('webfonts/310EF1_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Rational-SemiBold';
    src: url('webfonts/310EF1_2_0.eot');
    src: url('webfonts/310EF1_2_0.eot?#iefix') format('embedded-opentype'),
         url('webfonts/310EF1_2_0.woff2') format('woff2'),
         url('webfonts/310EF1_2_0.woff') format('woff'),
         url('webfonts/310EF1_2_0.ttf') format('truetype');
    weight: bold;
}



/* Global Element Styles */

html {
    font-size: 15px;
    box-sizing: border-box;
}

*, *:before, *:after { box-sizing: inherit; }

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background-color: rgba(251, 251, 251, 1);
    padding: 0px 0 50px 0;
    min-height: 100%;
    margin: 0;
}

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

p {
    font-size: 16px;
    margin: 22px 0px;
    color: #6A6F73;
    line-height: 1.7rem;
    text-align: left;
    text-decoration: none;
}

p a {
    text-decoration: underline;
}

h1 {
    font-size: 48px;
    line-height: 1.2em;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-weight: lighter;
    font-family: Rational;
    color: #283037;
}

h2 {
    font-size: 30px;
    line-height: 1.5em;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-family: Rational;
    font-weight: lighter;
    color: #49647D;
}

h3 { 
    font-size: 18px;
    line-height: 1.5em;
    margin: 22px 0px 8px 0px;
    font-family: Rational;
    font-weight: bold;
    color: #49647D;
    text-align: left;
}

h4 {
    font-size: 16px;
    font-family: Rational;
    font-weight: bold;
    color: #49647D;
    text-transform: none;
    line-height: 1.5em;
    margin: 22px 0px 8px 0px;
    text-align: left;
}


input::-webkit-input-placeholder { color: rgba(40, 48, 55, 0.5); }
input:-moz-placeholder { color: rgba(40, 48, 55, 0.5); }
input::-moz-placeholder { color: rgba(40, 48, 55, 0.5); }
input:-ms-input-placeholder { color: rgba(40, 48, 55, 0.5); }

input { color: #283037; }



/* Header Styles */

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 118px;
    width: 100%;
    background-color: #373F46;
    /* INSERT GRAPHIC HERE
    background-image: url("http://www.fg-a.com/wallpapers/geo-shapes-black-1280b.jpg");*/
    background-size: cover;
    background-position: center;
    z-index: 3;
    padding: 0 26px;
}

.header--logo-wrap {
    text-decoration: none;
    margin-right: auto;
}

.header--logo { height: 38px; }

.header .mobile-menu { display: none; }

.header--links {
    text-align: right;
    padding-top: 43px;
    position: absolute;
    bottom: 14px;
    right: 26px;
}

.header--link,
.header--link:visited {
    transition: color 0.1s ease-out;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    color: #B3BCC7;
    padding-bottom: 10px;
}

.header--link + .header--link { margin-left: 26px; }

.header--link.s-active {
    font-family: Roboto;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 4px solid #F8B71D;
}

.header--link:hover { color: #ffffff; }

.header--link:selected {
    color: #111;
    font-weight: 600;
}

.wy-body-for-nav { background-image: none; }

.wy-grid-for-nav {
    position: inherit;
    width: inherit;
    height: inherit;
    top: 118px;
}



/* Hidden nav that appears at 768px */

nav.wy-nav-top {
    line-height: 50px;
    background: #fff;
    border-bottom: 2px solid rgb(220,220,220);
    padding-top: 0px;
    padding-bottom: 0px;
    color: rgba(194, 63, 94, 1);
    display: none;
}

nav.wy-nav-top i { line-height: 50px; }

nav.wy-nav-top a {
    color: rgba(194, 63, 94, 1);
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
}



/* Sidebar Navigation Styles */

.wy-nav-side {
    position: fixed;
    z-index: 2;
    top: 118px;
    bottom: 0;
    left: 0;
    width: 320px;
    background: #F8F8F9;
    border-right: 1px solid #E5E5E5;
    overflow-y: auto;
    overflow-x: hidden
    -webkit-overflow-scrolling: touch;
}

.wy-nav-side ul { list-style: none; }

.wy-side-nav-search { height: 65px; }

.wy-side-nav-search > .version { display: none; }

.wy-form {
    border-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    height: 65px;
    padding: 0 22px;
}

.wy-form:before {
    content: " ";
    mask: url('search-icon.svg');
    -webkit-mask: url('search-icon.svg');
    background-color: #007BBD;
    flex-shrink: 0;
    height: 16px;
    width: 16px;
}

.wy-form > input {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 28px;
    border-color: transparent;
    border: none;
    box-shadow: none;
    flex-grow: 2;
    padding-left: 10;
    padding-top: 0;
    background-color: transparent;
    margin-left: 11px;
    border: none;
    outline: none;
}

.wy-menu-vertical {
    width: 320px;
    padding-bottom: 48px;
}

.wy-menu-vertical a { text-decoration: none; }

.wy-menu-vertical > ul {
    background: transparent;
    padding-left: 0;
}



/* All Levels */

.wy-menu-vertical .toctree-l2 > a,
.wy-menu-vertical .toctree-l3 > a,
.wy-menu-vertical .toctree-l4 > a {
    position: relative;
    padding-left: 44px;
    padding-right: 0.5rem;
}

.toctree-l1 > a,
.toctree-l2 > a,
.toctree-l3 > a,
.toctree-l4 > a {
    color: #636d75;
    overflow: hidden;
    position: relative;
}

.toctree-l1 > a:hover,
.toctree-l2 > a:hover,
.toctree-l3 > a:hover,
.toctree-l4 > a:hover {
    color: #007BBD;
}

.toctree-l2:last-child,
.toctree-l3:last-child,
.toctree-l4:last-child {
    padding-bottom: 1rem;
}

.toctree-l1.current > a + ul,
.toctree-l2.current > a + ul,
.toctree-l3.current > a + ul,
.toctree-l4.current > a + ul {
    margin-top: 0.25rem;
}


.toctree-l1 > ul,
.toctree-l2 > ul,
.toctree-l3 > ul,
.toctree-l4 > ul { padding-left: 22px; }



/* 1st Level */

.toctree-l1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: transparent;
}

.wy-menu-vertical .toctree-l1 > a {
    padding-left: 22px;
    padding-right: 22px;
}

.toctree-l1 > a,
.wy-menu-vertical .toctreee-l1 > a {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #636d75;
    border-top: 1px solid #C6C6C7;
    font-size: 16px;
}

.rst-content .toctree-l1 > a {
    border-top: 0;
    padding-bottom: 0;
    padding-top: 1.5rem;
}

ul.current > .toctree-l1.current > a {
    background-color: #F8B71D;
    color: #ffffff;
    border-bottom: 0;
    line-height: 18px;
    letter-spacing: 0.5px;
}

ul.current > .toctree-l1.current > a:hover {
    background-color: #dca627;
    color: #ffffff;
}

.wy-menu-vertical .toctree-l1 > ul {
    height: 0;
    overflow: hidden;
}

.toctree-l1.current > ul { height: auto; }

.toctree-expand {
    content: "";
    height: 0;
    width: 0;
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #007BBD;
    flex-shrink: 0;
    margin-bottom: 0.25em;
    margin-right: 0.5rem;
    transform: rotate(-90deg);
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 22px;
    margin: auto;
}

.current > a > .toctree-expand { transform: rotate(0); }

.toctree-l1 > a > .toctree-expand { display: none; }



/* 2nd Level */

.toctree-l2 {
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
}

.toctree-l2 > a {
    font-size: 15px;
    line-height: 1.5em;
    color: #636d75;
}

li.current { background-color: transparent; }

.toctree-l2.current > a {
    background-color: transparent;
    width: 100%;
}

.wy-menu-vertical .toctree-l2 > ul {
    height: 0;
    overflow: hidden;
}

.toctree-l2.current > a.current { font-weight: bold; }

.toctree-l2.current > ul { height: auto; }



/* 3rd Level */

.toctree-l3 {
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
}

.toctree-l3 > a {
    display: block;
    font-size: 14px;
    line-height: 1.5em;
    border-style: none;
    background: transparent;
}


/* 4th Level */

.wy-menu-vertical .toctree-l4 > a {
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    border-style: none;
    padding: 9px 0px 7px 80px;
}

li.on a, li.current > a { border: none; }

li.current a { border-right: none; }

.wy-side-scroll { padding-bottom: 41px; }



/* Content */

.headerlink { display: none; }

[role="contentinfo"] {
    border-top: 1px solid #C6C6C7;
}

.wy-nav-content {
    max-width: 910px;
    padding-left: 0px;
    padding-top: 118px;
}

.document {
    padding-left: 1.618em;
    padding-right: 1.618em;
}

.wy-nav-content-wrap {
    background: #fcfcfc;
    left: 0;
    height: 100%;
    margin-left: 320px;
}

.wy-breadcrumbs {
    padding-left: 22px;
    padding-top: 1rem;
}

.wy-breadcrumbs a {
    font-weight: 400;
    color: rgba(179, 15, 54, 1);
}

.wy-breadcrumbs li a:first-child { padding-left: 5px; }

.wy-breadcrumbs li:first-child a { padding-left: 0px; }

.wy-breadcrumbs-aside a { font-size: 13.5px; }

.wy-breadcrumbs-aside .fa-github::before,
.icon-github::before {
    color: #7d7d7d;
    float: right;
    margin-left: 8px;
}

.rst-content hr { border: 0; }

.rst-content {
    color: #6A6F73;
    margin: 0px 0px 22px 0px;
    line-height: 28px;
    text-align: left;
    text-decoration: none;
}

/* Link styles */

.rst-content a:link,
.rst-content a:visited {
    color: #007BBD;
    text-decoration: none;
}

.rst-content a:hover { text-decoration: underline; }

code {
    border: none;
    padding: inherit;
    background-color: inherit;
    font-family: "Roboto Mono";
    letter-spacing: 0.3px;
    font-size: 0.9rem;
    background-color: #F0F0F1;
    color: #283037;
    padding: 1px 0.3rem;
    margin: 0 3px;
    border-radius: 3px;
}



/* Syntax Highlighting */ 

.gp {
    color: rgba(255, 255, 255, 0.5);
}

.s1, .s2 {
    color: #FAD684;
}

.o {
    color: rgba(185, 182, 184, 1);
}

.m, .mi {
    color: #ef91d5;
}

.nb {
    font-size: 13px;
    line-height: 18px;
    color: #F4A158;
    letter-spacing: 0.3px;
    margin: 0px;
}

.c1 {
    color: #9ba5a7;
}

.k {
    color: #F4A158;
}

.kd {
    color: #9cdeff;
}

.hll {
    background-color: #4b545e;
    margin: 0 -12px;
    padding: 0 12px;
    display: block;
}

div[class^='highlight'] {
    overflow-x: auto;
}

div[class^='highlight'] pre {
    font-family: "Roboto Mono";
    font-size: 0.9rem;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    color: #e1e9f1;
    background-color: #616A74;
    padding: 12px 12px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: pre;
}

div[class^="highlight"] .linenos pre {
    background-color: #6a747f;
    border-right: 1px solid rgba(155, 165, 167, 0.2);
    color: #9ba5a7;
}

.rst-content dl.function dt {
    font-family: "Roboto";
    font-size: 15px;
}

.rst-content ul.simple li {
    margin-top: 4px;
}

.field-list .field-name {
    font-family: "Roboto";
    padding: 0px;
    font-size: 15px;
}

.field-list .field-body {
    padding: 5px 5px 5px 30px;
    font-family: "Roboto";
    font-size: 15px;
}

.highlighttable {
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 100%;
}

.highlighttable .code {
    padding-left: 0;
}

.linenos {
    width: 45px;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}



/* Footer */

footer { padding: 100px 1.618em; }

footer  hr {
    margin-top: 22px 0 1rem;
}

.rst-footer-buttons {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.rst-footer-buttons > a:first-child:last-child {
    margin: auto;
}

.fa-arrow-circle-left:last-child:before {
    content: "←";
    margin-right: 0.5rem;
}

.fa-arrow-circle-right:first-child:after {
    content: "→";
    margin-left: 0.5rem;
}

.btn {
    border: none;
    font-size: 18px;
    text-decoration: none !important;
    box-shadow: none;
}

.btn-neutral { background-color: transparent !important; }

.btn-neutral:visited { background-color: transparent !important; }

.btn-neutral:hover { background-color: transparent !important; }

footer p {
    color: #999999;
    font-size: 13px;
}

footer span.commit code {
    font-family: "Roboto";
}

.rst-versions {
    width: calc(320px - 44px);
    margin-left: 22px;
    margin-right: 22px;
    background-color: #FFFFFF;
    z-index: 3;
    position: fixed;
    padding-left: 22px;
    padding-right: 22px;
    bottom: 0.5rem;
    left: 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    border-radius: 3px;
}

.rst-versions .rst-current-version,
.rst-versions .rst-other-versions {
    width: 320px;
    color: black;
}

.rst-versions .rst-current-version {
    text-align: left;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-weight: bold;
}

.rst-versions .rst-current-version > .fa.fa-book {
    display: none;
}

.rst-versions .rst-other-versions {
    display: block;
    max-height: 0px;
    border-top: 1px solid transparent;
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    overflow: hidden;
    width: 100%;
}

.rst-versions.shift-up .rst-other-versions {
    max-height: 1000px;
    border-color: #C6C6C7;
}

.rst-versions .rst-current-version > span {
    color: black !important;
}

.rst-versions .rst-current-version a,
.rst-versions .rst-other-versions a {
    color: #007BBD;
}

@media screen and (max-width:768px) {
    h1 {
        font-size: 34px;
        word-break: break-word;
    }

    .header {
        display: block;
        height: auto;
        padding: 0;
    }

    .header--logo-wrap {
        padding: 2rem 0 0.5rem;
        text-align: center;
        display: block;
    }

    .header--logo {
        height: 36px;
    }

    .header--links {
        position: static;
        display: flex;
        justify-content: space-between;
        padding-top: 0px;
        text-align: center
    }

    .header--link {
        padding: 12px 0px;
        text-align: center;
        flex-grow: 1;
    }

    .header--link + .header--link {
        margin-left: 0;
    }

    .wy-breadcrumbs {
        margin-top: 1rem;
        overflow-x: auto;
        width: 100%;
    }

    .wy-breadcrumbs a {
        padding: 0.5rem;
        background-color: #F8F8F9;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
    }

    .wy-nav-side {
        left: -320px;
    }

    .wy-nav-content-wrap {
        width: 100%;
        margin-left: 0px;
    }

    .wy-nav-content-wrap.shift {
        top: auto;
        height: auto;
    }

    section.wy-nav-content-wrap.shift nav.wy-nav-top {
        display: initial;
        padding-left: 0px;
        line-height: 50px;
        text-align: left;
    }

    section.wy-nav-content-wrap.shift nav.wy-nav-top > i {
        height: 50px;
        width: 50px;
        background: rgba(194, 63, 94, 1);
        color: #fff;
        text-align: center;
    }

    section.wy-nav-content-wrap.shift nav.wy-nav-top > a {
        margin-left: 16px;
    }

    .class > dd,
    .function > dd {
        margin-left: 11px;
    }

    blockquote {
        margin-left: 11px;
        margin-right: 11px;
    }

    .document a {
        word-break: break-word;
    }

    .document ul {
        padding-left: 22px;
    }

    .field-list .field-body {
        padding-left: 11px;
    }

    .rst-versions {
        display: none;
    }

    .wy-body-for-nav {
        padding-bottom: 0;
    }

    .toctree-wrapper ul {
        -webkit-padding-start: 0;
    }

    footer {
        padding-bottom: 0;
    }
}

@media screen and (min-width:1400px) {
    .wy-breadcrumbs {
        padding-left: 32px;
    }

    .wy-nav-content div.rst-content > div.document {
        margin-left: 77px;
    }
}
